<link rel="stylesheet" type="text/css" href="public/edit.css"/>
<form class="edit course-edit">
	<header>
		<h3>{% if course.name is empty %}Add {% else %}Edit
		     {% endif %} course {{course.name}}</h3>
	</header>
	<div class="row">
		<input type="submit" name="submit" value="Save" class="load-form-btn flat-btn link">
		<button type="button" class="load-form-btn flat-btn link delete-btn" data-formurl="courses/delete/{{course.id}}">Delete</button>
	</div>
	<label class="row">
		<span>Name: </span>
		<input type="text" placeholder="Name" name="name" value="{{course.name}}">
	</label>
	<label class="row">
		<span>Description: </span>
		<textarea rows="3" placeholder="Description" name="description">{{course.description}}</textarea>
	</label>
	<label class="row">
		<span>Image: </span>
		<input type="file" placeholder="Image" name="image">
		<img src="../../public/courses/img/{% if course.img is empty %}default.jpg{% else %}{{course.img}}{% endif %}" alt="{{course.name}}">
	</label>
	<footer>
		<span>Total {{students_count}} student{% if students_count != 1 %}s{% endif %} taking course {{course.name}}</span>
	</footer>
</form>