<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{path | capitalize }}</title>
	<link rel="stylesheet" type="text/css" href="public/header.css"/>
	<link rel="stylesheet" type="text/css" href="public/home.css"/>
	<link rel="stylesheet" type="text/css" href="public/lists.css"/>
</head>
<body>
	{% include 'header.html' %}
	<main>
		{% for section in sections %}
		    {% include "home/%s.html" | format(section) %}
		{% endfor %}
		<section class="main-container"></section>
	</main>
	<script type="text/javascript" src="public/lists.js"></script>
</body>
</html>