<link rel="stylesheet" type="text/css" href="public/edit.css"/>
<form class="edit student-edit">
	<header>
		<h3>{% if student.name is empty %}Add {% else %}Edit
		     {% endif %} student {{student.name}}</h3>
	</header>
	<div class="row">
		<input type="submit" value="Save" class="load-form-btn flat-btn link">
		{% if student.name is not empty %}<button type="button" class="load-form-btn flat-btn link delete-btn" data-formurl="students/delete/{{student.id}}">Delete</button>{% endif %}
	</div>
	<label class="row">
		<span>Name: </span>
		<input type="text" placeholder="Name" value="{{student.name}}" name="name">
	</label>
	<label class="row">
		<span>Choose a course: </span>
		<select name="course">
		{% for course in courses %}
			{% if student.course_id is not empty %}
				<option value="{{course.id}}"{% if student.course_id == course.id %} selected{% endif %}>{{course.name}}</option>
			{% else %}
			    <option value="{{course.id}}"{% if loop.first %} selected{% endif %}>{{course.name}}</option>
			{% endif %}
		{% endfor %}
		</select>
	</label>
	<label class="row">
		<span>Image: </span>
		<input type="file" placeholder="Image" name="image">
		<img src="../../public/students/img/{% if student.img is empty %}default.jpg{% else %}{{student.img}}{% endif %}" alt="{{student.name}}">
	</label>
</form>