form {
	--label-width: 6rem;
}

form .row {
	display: flex;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 1rem;
}
form div.row:first-of-type {
	display: flex;
	justify-content: space-between;
}
form label.row > span {
	display: block;
	width: var(--label-width);
	padding-right: .5rem;
}
form label.row > input,
form label.row > select,
form label.row > textarea {
	width: calc(100% - var(--label-width));
	padding: .4rem .8rem;
	border: 1px solid var(--border-color);
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	color: currentColor;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	box-sizing: border-box;
}
form label.row > input:focus,
form label.row > select:focus,
form label.row > textarea:focus {
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

form label.row > textarea {font-family: inherit;}

form input[type=file] {display: none;}
form input[type=file]+img {
	width: 10rem;
	pointer-events: none;
}