body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #333;
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
}
a {text-decoration: none;color: currentColor;}
.link span {
	border-bottom: 1px solid transparent;
	transition: border-bottom-color .5s;
}
.link:focus span, .link:hover span {
	border-bottom-color: currentColor;
}
.flat-btn {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: none;
	font-size: inherit;
	cursor: pointer;
}
.link {display: block;padding: 0rem .7rem;border: 1px solid;}
.load-form-btn {cursor: pointer;}
figure {margin: 0;}

main {
	display: flex;
	align-items: flex-start;
}

main > section {
	width: 20%;
	max-width: 10rem;
}
main > section.main-container {width: 50%;margin-left: auto;max-width: initial;}

main > section header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-bottom: .2rem;
	font-size: 1.2rem;
}
main > section header h3 {margin: 0;}