body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #333;
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
}
a {text-decoration: none;color: currentColor;}
a span {
	border-bottom: 1px solid transparent;
	transition: border-bottom-color .5s;
}
a:focus span, a:hover span {
	border-bottom-color: currentColor;
}

main {
	display: flex;
	align-items: flex-start;
}