.entities {
	display: flex;
	flex-wrap: wrap;
	width: 20%;
	max-width: 10rem;
}
main section:not(:last-child) {margin-right: 1rem;}

.entities .entities-list .entities-block {
	display: block;
	text-align: center;
}
.entities .entities-list .entities-block:not(:last-child) {margin-bottom: .5rem;}

.entities .entities-list .entities-block img {
	width: 100%;
}