.entities {
	display: flex;
	flex-wrap: wrap;
	width: 20%;
	max-width: 10rem;
}
.entities:not(:last-child) {margin-right: 1rem;}
.entities > header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-bottom: .2rem;
	margin-bottom: 1rem;
	font-size: 1.2rem;
}
.entities > header h3 {margin: 0;}
.entities > header .link {display: block;padding: 0rem .7rem;border: 1px solid;}

.entities .entities-list .entities-block {
	display: block;
	text-align: center;
}
.entities .entities-list .entities-block:not(:last-child) {margin-bottom: .5rem;}

.entities .entities-list .entities-block img {
	width: 100%;
}