body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
form {
	width: 50%;
	max-width: 400px;
	padding: 2rem;
	border: 1px solid var(--border-color);
	border-radius: 4px;
}
form fieldset {
	margin: 0;
	padding: 1rem 0 0 0;
	border: none;
}
form legend {padding: 0;}

form .row {
	align-items: center;
}

form #submit {
	margin-left: auto;
	width: initial;
}

.login-legend {
	position: fixed;top: 0;right: 0;
	max-width: 15rem;
	padding: 2rem;
	color: #ccc;
	font-style: italic;
}