<link rel="stylesheet" type="text/css" href="public/edit.css"/>
<form class="edit admin-edit" autocomplete="offoff">
	<header>
		<h3>{{action | capitalize}} administrator {{admin.name}}</h3>
	</header>
	<div class="row">
		<input type="submit" value="Save" class="load-form-btn flat-btn link">
		<button type="button" class="load-form-btn flat-btn link delete-btn" data-formurl="admins/delete/{{admin.id}}">Delete</button>
	</div>
	<label class="row">
		<span>Name: </span>
		<input type="text" placeholder="Name" name="name" value="{{admin.name}}">
	</label>
	<label class="row">
		<span>Password: </span>
		<input type="password" placeholder="Password" name="password" value="{{admin.password}}">
	</label>
	<label class="row">
	{% if admin.role_name == 'owner' %}
	    <span>The role is: </span>
	    <span>{{admin.role_name | capitalize}}</span>
	    </select>
	{% else %}
	    <span>Choose a role: </span>
	    <select name="role">
	    {% for role in roles %}
	    	{% if action == 'edit' %}
	    		<option value="{{role.id}}"{% if admin.role_name == role.name %} selected{% endif %}>{{role.name | capitalize}}</option>
	    	{% else %}
	    	    <option value="{{role.id}}"{% if loop.first %} selected{% endif %}>{{role.name | capitalize}}</option>
	    	{% endif %}
	    {% endfor %}
	    </select>
	{% endif %}
	</label>

	<label class="row">
		<span>Image: </span>
		<input type="file" placeholder="Image" name="image">
		<img src="../../public/admins/img/{% if admin.img is empty %}default.jpg{% else %}{{admin.img}}{% endif %}" alt="{{admin.name}}">
	</label>
</form>